# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# OS
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Temporary
*.swp
*.swo
*~
.vscode/
.idea/
